# Utils
pandas>=3.0.5
numpy>=2.5.1
python-dotenv>=1.2.3
pyyaml>=6.0.3

# Open Source Local LLM
ollama>=0.6.2

# Framework & Orchestration
langchain>=1.4.0
langchain-ollama>=1.1.0
langgraph>=1.2.11

# Vector DBs
chromadb>=1.5.9

# Financial Data
yfinance>=1.7.0

# Sentiment Analysis
nltk>=3.10.3
textblob>=0.20.1
