# Utils
pandas>=2.1.4
numpy>=1.26.3
python-dotenv>=1.0.0
pyyaml>=6.0.1

# Open Source Local LLM
langchain-ollama>=0.1.0
ollama>=0.2.0
langgraph>=0.0.26

# Vector DBs
chromadb>=0.4.22

# Financial Data
yfinance>=0.2.35

# Sentiment Analysis
nltk>=3.8.1
textblob>=0.17.1